astroid==2.2.5
Click==7.0
ecdsa==0.13.2
Flask==1.0.2
future==0.17.1
isort==4.3.18
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.0
MarkupSafe==1.1.1
mccabe==0.6.1
pycryptodome==3.3.1
pylint==2.3.1
python-jose-cryptodome==1.3.2
six==1.12.0
typed-ast==1.4.2
Werkzeug==0.15.4
wrapt==1.11.1
Flask-Cors==3.0.8
https://{{YOUR_DOMAIN}}/authorize?audience={{API_IDENTIFIER}}&response_type=token&client_id={{YOUR_CLIENT_ID}}&redirect_uri={{YOUR_CALLBACK_URI}}
#http://127.0.0.1:5000/headers#access_token=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InR5elRiOGhRVk9oOFdiU3IzTmtNOSJ9.eyJpc3MiOiJodHRwczovL3BhcHBpdG8udXMuYXV0aDAuY29tLyIsInN1YiI6Imdvb2dsZS1vYXV0aDJ8MTAxNzgwOTE2NjUyODQ1NDk0NjQzIiwiYXVkIjoiaW1hZ2kiLCJpYXQiOjE2NjMwNTc4NDMsImV4cCI6MTY2MzA2NTA0MywiYXpwIjoiNEptSVZvbXJRMUdna0wwRWlDQThOUzlRUU1sZ29QMGgiLCJzY29wZSI6IiJ9.CkLay-bWeH-FhfpR9AzinAvTo3x9WA050fouRPNkow3sy1IlxR96S1U1bHNi9hnYbrvuKO43whTSi-YcLkSt4g4wgUCxyPh8l3atK8DvINbwkDCsl2wznGNraJqTptSx4VXo2Btlgt_Cdx7RGlM2u7pDZcD5fpncWbDKq6KgkHdxltc2ylyYytwjGNXR8vZWd6RHKIBjZHNHARQjR9f5SatxMGSC_fatQtDpj4557J-K496QFl7LS13EMectQ8dvohtcpFhh2FrEoRO3VrHS3kUKsBk97ofwyGF2rlSEp6XWjzzwc-GqBSmIrQJKFazKqHxxgD_7xjFGGP_erKVsmQ&expires_in=7200&token_type=Bearer